In [2]:
import pandas as pd
import numpy as np
import scipy.stats as st

import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px
import plotly.graph_objects as go

%matplotlib inline

In [3]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim


if torch.cuda.is_available():
    from torch.cuda import FloatTensor, LongTensor
else:
    from torch import FloatTensor, LongTensor

In [10]:
data = pd.read_csv('./data/train.csv', parse_dates=['epoch'])

In [12]:
data.set_index(keys=data['sat_id'], inplace=True)
data.head()

,id,epoch,sat_id,x,y,z,Vx,Vy,Vz,x_sim,y_sim,z_sim,Vx_sim,Vy_sim,Vz_sim
sat_id,,,,,,,,,,,,,,,
0,0,2014-01-01 00:00:00.000,0,-8855.823863,13117.780146,-20728.353233,-0.908303,-3.808436,-2.022083,-8843.131454,13138.221690,-20741.615306,-0.907527,-3.804930,-2.024133
0,1,2014-01-01 00:46:43.000,0,-10567.672384,1619.746066,-24451.813271,-0.302590,-4.272617,-0.612796,-10555.500066,1649.289367,-24473.089556,-0.303704,-4.269816,-0.616468
0,2,2014-01-01 01:33:26.001,0,-10578.684043,-10180.467460,-24238.280949,0.277435,-4.047522,0.723155,-10571.858472,-10145.939908,-24271.169776,0.274880,-4.046788,0.718768
0,3,2014-01-01 02:20:09.001,0,-9148.251857,-20651.437460,-20720.381279,0.715600,-3.373762,1.722115,-9149.620794,-20618.200201,-20765.019094,0.712437,-3.375202,1.718306
0,4,2014-01-01 03:06:52.002,0,-6719.092336,-28929.061629,-14938.907967,0.992507,-2.519732,2.344703,-6729.358857,-28902.271436,-14992.399986,0.989382,-2.522618,2.342237

In [13]:
def split_data(values, coeff=0.7):
  split = int(np.floor(coeff * values))
  split2 = int(np.floor(values*(1-coeff)/2))
  indices = list(range(values))
  np.random.shuffle(indices)
  train_indices, val_indices, test_indices = indices[:split], indices[split:split+split2], indices[split+split2:]
  return train_indices, val_indices, test_indices

train_indices, val_indices, test_indices = split_data(len(data['sat_id'].unique()))

In [14]:
train_data = data.loc[train_indices]
test_data = data.loc[test_indices]
val_data = data.loc[val_indices]

In [15]:
def create_samples(data, max_sequence=100, sample_sequense=20):
  unique_satellites = data['sat_id'].unique()
  for satellite in unique_satellites:
    max_seq=max_sequence
    sat_data = data.query('sat_id==@satellite')
    if sat_data.shape[0] < max_sequence:
      max_seq = sat_data.shape[0]
    

create_samples(train_data, max_sequence=300)